# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
backend/.venv/

# Environment files
.env
backend/.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Logs
*.log



# Generated experiment results
backend/data/experiments/*
!backend/data/experiments/.gitkeep

# Generated LinkedIn image
94aa3e21-6026-4374-b91b-245ae16e56f4.png